<p id="notice"><%= notice %></p>

<h1>livraria</h1>

<table>
  <% @products.each do |product| %>
    <tr class="<%= cycle("list_line_odd", "list_line_even")%>">
      <td>
        <%= image_tag((product.image_url),class:"list_image")%>
      </td>

      <td class:"list_description">
        <dl>
          <dt><%= product.title%></dt>
          <dt><%= truncate(strip_tags(product.description))%></dt>
        </dl>
      </td>

      <td class="list_actions">
        <td><%= link_to 'mostrar', product %></td>
        <td><%= link_to 'editar', edit_product_path(product) %></td>
        <td><%= link_to 'apagar', product, method: :delete, data: { confirm: 'tem certeza?' } %></td>
      </td>
    </tr>
  <% end %>

</table>

<br>

<%= link_to 'novo produto', new_product_path %>
